<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989286033095-bug5k2o4u388veontroiq5fmjbrbafao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989286033095-bug5k2o4u388veontroiq5fmjbrbafao</string>
	<key>API_KEY</key>
	<string>AIzaSyBTdvQS8u5OEMGUgj7_nyjPsGWw7eupO_4</string>
	<key>GCM_SENDER_ID</key>
	<string>989286033095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dentalapp</string>
	<key>PROJECT_ID</key>
	<string>dental-clinic-app-busaru</string>
	<key>STORAGE_BUCKET</key>
	<string>dental-clinic-app-busaru.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989286033095:ios:5f3d80be34017c5ad980e2</string>
</dict>
</plist>